@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.eot');
    src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold.woff2') format('woff2'),
         url('fonts/Roboto-Bold.woff') format('woff'),
         url('fonts/Roboto-Bold.ttf') format('truetype'),
         url('fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff'),
         url('fonts/Roboto-Regular.ttf') format('truetype'),
         url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.eot');
    src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Medium.woff2') format('woff2'),
         url('fonts/Roboto-Medium.woff') format('woff'),
         url('fonts/Roboto-Medium.ttf') format('truetype'),
         url('fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    }
.menu {
    background-color: #E5E5E5;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.menu__list {
    font-size: 0;
    text-align: center;
    padding: 17px 0 16px;
}
.menu__point {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    margin-right: 30px;
}
.menu__link {
    color: #333333;
    text-decoration: none;
    display: block;
}
.delete-menu__margin.menu__point{
    margin: 0;
}
.head-block {
    background-color: #ffffff;
}
.head-block__logo-group {
    display: block;
    float: left;
}
.head-block__logo-image {
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px 20px 0;
    
}
.head-block__logo-text {
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    vertical-align: top;
    margin-top:  41px;
    margin-bottom: 40px;
    color: #F13C6E;
    text-transform: uppercase;
}
.head-block__information {
    display: block;
    float: right;
}
.head-block__about {
    display: inline-block;
    vertical-align: top;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
    text-decoration: none;
    margin: 50px 40px 51px 0;
}
.head-block__callback {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    padding: 12px 26px 13px 27px;
    margin: 40px 0;
    cursor: pointer;
}
.head-block__callback:hover {
background-color: blanchedalmond;
}
.clearfix {
    clear: both;
}
.line {
    border: 1px solid #EFEFEF;
}
.primary__list {
    font-size: 0;
    text-align: center;
    padding: 30px 0;
}
.primary__list-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 19px;
    margin-right: 30px;
}
.delete-menu__margin.primary__list-item {
    margin-right: 0;
}
.primary__list-link {
    color: #000000;
    text-decoration: none;
    display: block;
}
.promo-block {
    background-image: url(images/promo_background_image.png);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center center; 
    padding: 192px 0 193px ;
}
.promo-block__title {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.promo-block__text {
    width: 308px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.promo-block__info {
    font-family: 'Roboto', sans-serif; /*Сейчас это ссылка, а вдруг станет кнопкой*/
    display: inline-block;
    vertical-align: top;
    background-color: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 12px 26px 13px 27px;
    text-decoration: none;
    cursor: pointer;
}
.promo-block__info:hover {
    background-color: coral;
}
.producte {
    background-color: #E5E5E5;
    padding: 80px 0 81px;
}
.producte__block {
    font-size: 0;
}
.producte__block-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 38px;
}
.product__card {
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    max-width: 255px;
    margin-right: 30px;
}
.product__card-img {
    display: block;
    margin: 25px auto 20px;
    max-width: 125px;
}
.product__card-description {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    width: 195px;
    display: block;
    margin: 0 30px 20px;
}
.product__card-price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}
.product__card-purchase {
    font-family: 'Roboto', sans-serif; /*Сейчас это ссылка, а вдруг станет кнопкой*/
    display: inline-block;
    vertical-align: top;
    background: #F13C6E;
    border-radius: 30px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    padding: 9px 40px;
    margin: 20px 63px 25px 62px;
}
.delete-menu__margin.product__card {
    margin-right: 0;
}
.product__card-purchase:hover {
    background-color: coral;
}
.subscr__banner {
    display: inline-block;
    vertical-align: top;
    background: #F13C6E;
    max-width: 540px;
    margin: 100px 0;
}
.subscr__banner-container {
    float: left;
    margin: 35px 0 35px 40px;
    max-width: 250px;
}
.subscr-banner__image-box {
    float: right;
    padding-bottom: 7px;
    margin: 36px 45px 36px 65px;
}
.subscr__banner-title {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.subscr__banner-text {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    max-width: 231px;
    margin: 25px 0;

}
.subscr__banner-mail {
    background: #FFFFFF;
    border: none;
    border-radius: 30px;    
    font-size: 14px;
    line-height: 16px;
    padding: 9px 27px;
    max-width: 250px;
}
.subscr__banner-mail::placeholder {
    color: #C4C4C4;
    font-size: 14px;
    line-height: 16px;  
}
.subscr-banner__image {
    display: block;
}
.subscr-banner__image-wrapper{
    float: right;
    margin: 56px 45px 56px 16px;
}
.subscr-banner__img {
    display: block;
}
.subscr__banner-link {
    font-family: 'Roboto', sans-serif; /*Сейчас это ссылка, а вдруг станет кнопкой*/
    display: inline-block;
    vertical-align: top;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    padding: 9px 29px;
}
.subscr__banner-link:hover {
    background-color: coral;
}
.product__logo {
    font-size: 0;
    margin-bottom: 80px;
}
.product__logo-block {
    display: inline-block;
	vertical-align: top;
	max-width: 277px;
	border: none;
	background-color: #FFFFFF;
}
.product__logo-link {
    display: inline-block;
	vertical-align: top;
	text-decoration: none;
}
.product__logo-img {
    display: block;
    margin: 35px 64px;
}
.product__logo-line {
    border: 1px solid #EFEFEF;
    margin: 0;
}
.product__logo-block.product__logo-border {
    border: 1px solid #EFEFEF;
}
.category {
    background-color: #FFFFFF;
    padding: 60px 0 38px;
    font-size: 0;
}
.category__content {
    display: inline-block;
    vertical-align: top;
    max-width: 255px;
    margin-bottom: 112px;
    margin-right: 30px;
}
.category__content-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    max-width: 99px;
    margin-bottom: 30px;
}
.category__content-list {
    margin-top: 25px;
}
.category__content-item {
font-size: 12px;
line-height: 28px;
}
.category__content-link {
    color: #828282;
    text-decoration: none;
    display: block;
}
.line.line-category {
    width: 255px;
}
.category__content.delete-menu__margin {
    margin: 0;
}