@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.eot');
    src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold.woff2') format('woff2'),
         url('fonts/Roboto-Bold.woff') format('woff'),
         url('fonts/Roboto-Bold.ttf') format('truetype'),
         url('fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff'),
         url('fonts/Roboto-Regular.ttf') format('truetype'),
         url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.eot');
    src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Medium.woff2') format('woff2'),
         url('fonts/Roboto-Medium.woff') format('woff'),
         url('fonts/Roboto-Medium.ttf') format('truetype'),
         url('fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    }
.menu {
    background-color: #E5E5E5;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.menu__list {
    font-size: 0;
    text-align: center;
    padding: 17px 0 16px;
}
.menu__point {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    margin-right: 30px;
}
.menu__link {
    color: #333333;
    text-decoration: none;
    display: block;

}